body
{
    background-color: #ccc;
    margin: 5%;
}
/*SECTION 1*/
section
{
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
h2
{
    text-align: center;
    font-family: 'Roboto', 'arial', sans-serif;
    color: blue;
}
#one .green
{
    color: green;
}
#one .red
{
    color: red;
}
#one h2:first-child:hover
{
    color: red;
}
/*SECTION 2*/
#two p, #two .red
{
    color: red;
}
/*SECTION 3*/
#three>p
{
    color: orange;
}
#three * p
{
    color: brown;
}
#three h2+div
{
    background-color: yellow;
}
/*SECTION4*/
#four p
{
    color: violet;
}
#four #pierwszy
{
    color: #45ee22;
}
#four .drugi
{
    background-color: #88ee22;
}